

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 10px;
}

header {
  height: 474px;
  width: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.699) 100% , transparent), url(images/hero-img.png);
  background-position: center;
  /* background-attachment: scroll; */
}

/* body {
  background: black;
} */


/* ************************************* navbar **************************************/
header nav {
  /* height: 61px; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.950);
  /* background-color: skyblue; */
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  cursor: pointer;
}

.sing, .log {
  width: 82px;
  border: none;
  color: white;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
}

.sing {
  background-color: #00D32F;

}

.log {
  background-color: #0087D3;

}

.sing:hover {
  background-color: #005212;
}

.log:hover {
  background-color: #003a5b;
}


/* ************************************* search **************************************/

.search {
  height: calc(100% - 130px);
  display: flex;
  justify-content: center;
  align-items: center;    

}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 30%;
  height: 37px;
  padding: 10px;
  font-size: 2rem;

  border: none;
  border-radius: 0 12px 12px 0;
  border-left: none;
}

.search button {
  height: 37px;
  font-size: 1.6rem;
  border-radius: 12px 0 0 12px;
  border: none;
  background-color: white;    
  padding-left: 12px;
  padding-top: 5px;
  cursor: pointer;
}

.search button i {
  font-size: 3rem;
  font-weight: 500;
}

/* ************************************* sidebar ************************************* */

.container {
  height: calc(100vh);
  display: flex;
  background-color: white;
  /* position: relative; */
}

aside {
  height: 100%;
  width: 280px;
  overflow-y: auto;
  background-color: #F0F0F0;
  padding-top: 40px; 
  
  /* position: fixed; */
  
}

.container nav {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 15px;
  /* position: sticky; */
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgb(0, 0, 0, 0.05);
}

.nav-link span {
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 400;
  color: #000000;
}



.container nav p {
  font-size: 2rem;
  color: black;
  font-weight: 700;
  padding: 8px 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}


/* ************************************* main ************************************* */

main {
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  border-top: 1px solid #ddd;
  overflow-y: auto;
}

main h1 {
  font-size: 2rem;
  color: black;
  font-weight: 700;
  padding: 8px 16px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 15px;
  overflow-y: auto;
}

/* **************************** Book Card *************************************** */
.book {
  height: 350px;
  width: 156px;
  margin-bottom: 40px;
  cursor: pointer;
  border: 1px solid black;
  overflow: hidden;

}


.img-book {
  width: 100%;
  height: 187px;
}

.img-book img {
  width: 100%;
  height: 100%;
}

.book-details {
  padding: 5px 5px;
  height: calc(100% - 187px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.book-details a {
  text-decoration: none;
  color: black;
}

.book-title {
  font-size: 1.6;
  font-weight: 700;
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}

.book-creator {
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
}

.explain {
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
overflow: hidden;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  align-self: flex-end;
}
/*******************************/




/* ************************************* stars ************************************* */

.checked {
  color: orange;
}

.stars {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.fa {
  font-size: 17px;
}

/* ************************************* footer ************************************* */

footer {
  height: 27px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.52px;
}