<!-- /* ................................................................... Page Sing-In.................................................................... */ -->

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/adminAddBook.css"/>
  <title>Sign In</title>
</head>

<body>
  <div class="header">
    <!--start header-->

    <header>
      <img class="logo" src="../static/images/bookshop.png" width="60PX" height="60PX" />
      <!--logo-->
      <a href="{{ url_for('signup') }}" class="sing-up">
        <!--button sing up-->
        <span> log out </span>
      </a>
    </header>
  </div>
  <!--end header-->

  <div class="container">
    <!--start container-->

    <h2>Add New Book</h2>

    <form>
        <label>title</label>
        <input placeholder="Enter Book Title" type="text" name="bookTitle">
        
        <label>Author</label>
        <input placeholder="Enter Book Title" type="text" name="author">

        <label>Image URL</label>
        <input placeholder="Enter Book Title" type="file" name="imageFile">

        

        <label>price</label>
        <input placeholder="Enter Book Title" type="text" name="price">

        <label>quantity</label>
        <input placeholder="Enter Book Title" type="text" name="quantity">


        <label>Description</label>
        <textarea name="description">

        </textarea>


        <input placeholder="Enter Book Title" type="submit" name="bookTitle">

    </form>


  </div>
  <!--end container-->

  <div class="footer">
    <!--start footer-->

    <footer>
      <p>copyrights @ www.bookshop.com</p>
      <!--paragraph for footer-->
    </footer>
  </div>
  <!--end footer-->
</body>

</html>

<!--.............................................................. #_The_End_._ .........................................................................  -->