<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Icons -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!--  -->
  <link rel="stylesheet" href="static/home.css" />
  <title>Book Store</title>
  <script>
    function redirectToLink(link) {
      // Change the URL to the desired destination
      window.location.href = link;
    }
  </script>
</head>

<body>
  <header>
    <!-- navbar -->
    <nav>
      <a href="{{url_for('home')}}"><img src="static/images/logo.svg" alt="Logo" />
      </a>
      <div class="sing-log">
        {% if session['user_id'] %}
        <button onclick="redirectToLink('/logout')" class="sing">Log Out</button>
        {% else %}
        <button onclick="redirectToLink('/signup')" class="sing">Sing Up</button>
        <button onclick="redirectToLink('/signin')" class="log">Log In</button>
        {% endif %}
      </div>
    </nav>

    <!-- search -->
    <div class="search">
      <form action="{{ url_for('library') }}">
        <button><i class="material-icons">search</i></button>
        <input type="search" placeholder="Search for a book ......." />
      </form>
    </div>
  </header>

  <!-- popular books -->
  <div class="catigories popular-books">
    <div class="head">Popular Books</div>
    <div class="books">

      {% for book in popular_books %}
      <div class="book">
        <form action="{{url_for('add_to_cart', book_id=book['book_id'])}}" method="get" class="add-to-cart">
          <button>
            <i class="material-icons">add_shopping_cart</i>
          </button>
        </form>

        <div class="img-book">
          <img src="{{book['image']}}" alt="" />
        </div>

        <div class="stars">
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="book-details">
          <div class="title">
            <a href="" class="book-title">
              {{book['title']}}
            </a>
          </div>
          <div class="title">
            <a href="" class="book-creator"> {{ book['author'] }} </a>
          </div>
          <div class="title">
            <p class="explain">
              {{ book['subscript'] }}
            </p>
          </div>
          <div class="price">
            <span>{{ book['price'] }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- catigories -->
  <div class="catigories">
    <div class="head">Catigories</div>
    {% for category in categories %}
    <div class="type-book">{{category['title']}}</div>
    <div class="books">
      {% for book in category['books'] %}
      <div class="book">
        <form action="{{url_for('add_to_cart', book_id=book['book_id'])}}" method="get" class="add-to-cart">
          <button>
            <i class="material-icons">add_shopping_cart</i>
          </button>
        </form>
        <div class="img-book">
          <img src="{{book['image']}}" alt="" />
        </div>
        <div class="stars">
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="book-details">
          <div class="title">
            <a href="" class="book-title">
              {{book['title']}}
            </a>
          </div>
          <div class="title">
            <a href="" class="book-creator"> {{book['author']}} </a>
          </div>
          <div class="title">
            <p class="explain">
              {{book['subscript']}}
            </p>
          </div>
          <div class="price">
            <span>{{book['price']}}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <footer>
    <div class="copy">Copyrights &copy; www.bookshop.com</div>
  </footer>
</body>

</html>