<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>layout page</h1>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    {{ page_name }}
    <div style="background-color: red; color: black;">
    {%if err_mes.error_state == 1 %}
        {{err_mes.error_message_text}}
    {%endif%}
    </div>
    {% for item in items %}
        <div>{{item}}</div>
    {% endfor %}
</body>
</html>